asgiref==3.4.1
async-generator==1.10
attrs==21.2.0
bleach==4.1.0
certifi==2021.10.8
cffi==1.15.0
cryptography==35.0.0
Django==3.2.7
django-ckeditor==6.1.0
django-classy-tags==2.0.0
django-js-asset==1.2.2
django-summernote==0.8.20.0
django-taggit==1.5.1
django-taggit-templatetags2==1.6.1
h11==0.12.0
idna==3.3
outcome==1.1.0
packaging==21.2
Pillow==8.4.0
pycparser==2.20
pyOpenSSL==21.0.0
pyparsing==2.4.7
pytz==2021.1
selenium==4.0.0
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
sqlparse==0.4.1
trio==0.19.0
trio-websocket==0.9.2
urllib3==1.26.7
webencodings==0.5.1
wsproto==1.0.0
