{% extends 'base.html' %}

{% load static %}	

{% block title %} 관련 사례 목록 {% endblock %}
{% block content %}

<div id="wrap">

	<div class="visual">
		
		<div class="image-box">
			<img src="{{case.thumbnail_image.url}}" class="image-thumbnail"> 
		</div>

		<div class="back b">
			<a href="{% url 'list' %}">뒤로가기</a>
		</div>

			<div class="title">
				{{case.title}}
			
			<div class="title small">
				<ul>
				{% for tag in case.tags.all %}
					{{ tag.name }}
				{% endfor %}
				</ul>
			</div>
		</div>
	</div>
	
	<div class="content">
		<div class="ct02 mt2">
			
			<div class="group mt4">
				{% comment %} <img src="{{case.center_image.url}}">  {% endcomment %}
				{{case.contents_text}}
			</div>
			
				<div class="profile mt4">
					<div class="img">
				</div>
				<div class="detail">
					<div class="name">정동훈 공인중개사</div>
					<p>정직한 중개시장을 위해 항상 노력합니다.</p>
					<div class="etc mt2">010-1234-5678 | jdh123@safehomes.kr</div>
				</div>
			</div>
		</div>
	</div>
	
</div>
{% endblock %}