{% extends 'base.html' %}

{% load static %}	

{% block title %} 관련 사례 목록 {% endblock %}
{% block content %}
	<div id="wrap">

	<div class="etc">
		<ul>
			<li class="ticket"><a href="#"><i><img src="{% static 'img/ticket_icon.png' %}"></i><span class="sound">티켓</span></a></li>
			<li class="ticket on"><a href="#"><i><img src="{% static 'img/ticket_icon.png' %}"></i><span class="sound">티켓</span></a></li>
			<li class="notice"><a href="#"><i><img src="{% static 'img/notice_icon.png' %}"></i><span class="sound">알림</span></a></li>
		</ul>
	</div>

	<div class="comment mt4">
		집 구할때</br><span>어떤 일</span>이 일어나고 있나요?
	</div>
    <div class="link_box b" >
        <div style="float: left;">
            <button type="button"  onclick="location.href='/'">
            모두</button>
        </div>
        {% for tag in tag_all %} 
        <div style="float: left;">
            <form action="{% url 'filter' %}" method="GET" class="link_box b">
                {% csrf_token %}  
                <button name="tag_name" value="{{ tag.name }}">{{ tag.name }}</button>
            </form>
        </div>
        {% endfor %}
    </div>

    <br>

	{% for case in case_all %}
        <div class="content">
            <div class="ct01">
                <div class="group">
                    <div class="mt3">
                        <a href="{% url 'detail' case.id %}">
                            <div class="img"> 
                                <img class="" src="{{case.thumbnail_image.url}}"> 
                            </div>
                            <div class="txt"> {{case.title}} <br>
                                    {% for tag in case.tags.all %}
                                    <small>{{tag.name}}	</small>
                                    {% endfor %}
                                    <br>
                            </a>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
                    
    {% endfor %}
{% endblock %}
