@charset "utf-8";

@import url("reset.css");
html{width:100%; height:100%;}
body{width:100%; height:100%; font-family:'nl';}

@font-face { 
   font-family: 'nl'; 
   src: url('../font/NotoSansKR-Light.otf') format('truetype');
}
@font-face { 
   font-family: 'nr'; 
   src: url('../font/NotoSansKR-Regular.otf') format('truetype');
}
@font-face { 
   font-family: 'nb'; 
   src: url('../font/NotoSansKR-Bold.otf') format('truetype'); 
}
@font-face { 
   font-family: 'ml'; 
   src: url('../font/Montserrat-Thin.ttf') format('truetype'); 
}
@font-face { 
   font-family: 'mr'; 
   src: url('../font/Montserrat-Regular.ttf') format('truetype'); 
}
@font-face { 
   font-family: 'mb'; 
   src: url('../font/Montserrat-Bold.ttf') format('truetype'); 
}
@font-face { 
   font-family: 'sl'; 
   src: url('../font/SourceHanSerif-Light.ttc') format('truetype'); 
}
@font-face { 
   font-family: 'sr'; 
   src: url('../font/SourceHanSerif-Regular.ttc') format('truetype'); 
}
@font-face { 
   font-family: 'sb'; 
   src: url('../font/SourceHanSerif-Bold.ttc') format('truetype'); 
}


#header{
	position:fixed;
	width:100%;
	top:0;
	left:0;
	background:#fff;
	border-bottom:1px solid #dedede;
	height:80px;
	z-index:99999999;
}
#header .logo{
	position:absolute;
	left:30px;
	top:50%;
	transform:translateY(-50%);
}
#header .logo a{
	display:block;
	width:193px;
	background:url(../img/logo.png) no-repeat;
	background-size:cover;
	text-indent:-999999px;
}
#header .login_box{
	position:absolute;
	right:30px;
	top:50%;
	transform:translateY(-50%);	
}
#header .login_box ul li{
	display:inline-block;
	width:100px;
	height:38px;
	line-height:38px;
	margin:0 5px;
	border-radius:5px;
}
#header .login_box ul li a{
	display:block;
	font-size:14px;
	font-weight:500;
	text-align:center;
}
#header .login_box ul li.login{
	border: solid 1px #ffaa00;
	color:#ffaa00;
}
#header .login_box ul li.join{
	background:#ffaa00;
	color:#fff;
}
#header .search_box{
	width:700px;
	margin:15px auto 0;
	height:50px;
	position:relative;
}
#header .search_box input{
	background:#ebebeb;
	border-radius:5px;	
	width:100%;
	border:none;
	height:100%;
	font-size:14px;
	color:#333;
}
#header .search_box button{
	position:absolute;
	top:50%;
	transform:translateY(-50%);
	right:20px;
	width:24px;
	height:24px;
	background:url(../img/search_icon.png) no-repeat;
	background-size:cover;
	border:none;
	text-indent:-99999px;
	cursor:pointer;
}
#header .search_box input::placeholder {
  color: #333;
  font-size:14px;
  text-align:center;
  font-weight:bold;
}
#side{
	position:fixed;
	top:0;
	left:0;
	width:260px;
	height:100%;
	background:#fff;
}
#side .menu{
	margin-top:100px;
}
#side .menu ul li{
	height:60px;
	line-height:60px;
}
#side .menu ul li a{
	display:block;
	font-size:18px;
	position:relative;
	padding-left:75px;
	font-weight:bold;
}
#side .menu ul li.li1 a:before{
	content:"";
	display:block;
	background:url('../img/home_icon.png') no-repeat;
	background-size:cover;	
	position:absolute;
	left:30px;
	top:50%;
	transform:translateY(-50%);
	width:26px;
	height:26px;
}
#side .menu ul li.li2 a:before{
	content:"";
	display:block;
	background:url('../img/competition_icon01.png') no-repeat;
	background-size:cover;	
	position:absolute;
	left:30px;
	top:50%;
	transform:translateY(-50%);
	width:26px;
	height:26px;
}
#side .menu ul li.li3 a:before{
	content:"";
	display:block;
	background:url('../img/learning_icon.png') no-repeat;
	background-size:cover;	
	position:absolute;
	left:30px;
	top:50%;
	transform:translateY(-50%);
	width:26px;
	height:26px;
}
#side .menu ul li.li4 a:before{
	content:"";
	display:block;
	background:url('../img/class_icon.png') no-repeat;
	background-size:cover;	
	position:absolute;
	left:30px;
	top:50%;
	transform:translateY(-50%);
	width:26px;
	height:26px;
}
#side .menu ul li.li5 a:before{
	content:"";
	display:block;
	background:url('../img/admin_icon.png') no-repeat;
	background-size:cover;	
	position:absolute;
	left:30px;
	top:50%;
	transform:translateY(-50%);
	width:26px;
	height:26px;
}
#side .menu ul li.li6 a:before{
	content:"";
	display:block;
	background:url('../img/notice_icon.png') no-repeat;
	background-size:cover;	
	position:absolute;
	left:30px;
	top:50%;
	transform:translateY(-50%);
	width:26px;
	height:26px;
}
#footer.type{
	position:absolute;
	bottom:0;
	left:0;
	padding:30px;
}
#footer.type .name{
	font-size: 16px;
	font-weight: bold;
	color: #333;
	margin-bottom:10px;
}
#footer.type .ul1 li{
	font-size:12px;
	color:#333;
	margin:1px 0;
}
#footer.type .ul1 li span{
	display:block;
}
#footer.type .ul1 li.mt{
	margin-top:20px;
}
#footer.type .ul2{
	margin-top:20px;
}
#footer.type .ul2 li{
	display:inline-block;
	margin:0 2px;
	position:relative;
	line-height:14px;
}
#footer.type .ul2 li:after{
	content:"";
	display:block;
	width:2px;
	height:2px;
	background:#ffaa00;
	position:absolute;
	right:0;
	top:50%;
	transform:translateY(-50%);
}
#footer.type .ul2 li:first-child{
	margin:0 2px 0 0;
}
#footer.type .ul2 li a{
	color:#ffaa00;
	font-size:12px;
	font-weight:bold;
}
#footer.type .copy{
	color:#333;
	font-size:10px;
	font-weight:bold;
}
#footer.type .ul3{
	margin-top:20px;
}
#footer.type .ul3 li{
	display:inline-block;
	margin:0 2px;
	width:40px;
	height:40px;
}
#footer.type .ul3 li.li1 a{
	background:url(../img/facebook_icon.png) no-repeat;
	background-size:cover;
	display:block;
	height:100%;
	text-indent:-99999px;
}
#footer.type .ul3 li.li2 a{
	background:url(../img/in_icon.png) no-repeat;
	background-size:cover;
	display:block;
	height:100%;
	text-indent:-99999px;
}
#footer.type .ul3 li.li3 a{
	background:url(../img/yt_icon.png) no-repeat;
	background-size:cover;
	display:block;
	height:100%;
	text-indent:-99999px;
}
#footer.type .ul3 li.li4 a{
	background:url(../img/kakao_icon.png) no-repeat;
	background-size:cover;
	display:block;
	height:100%;
	text-indent:-99999px;
}


	
#footer.type2{
	display:flex;
	padding:50px;
}
#footer.type2 .left_box{
	margin-right:auto;
}
#footer.type2 .left_box div{
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-bottom:10px;
}
#footer.type2 .left_box ul li{
	font-size:12px;
	color:#333;
	margin:1px 0;
}
#footer.type2 .left_box ul li:last-child{
	margin-top:10px;
}
#footer.type2 .left_box ul li span{
	display:inline-block;
	margin:0 5px;
}
#footer.type2 .left_box ul li span:first-child{
	margin:0 5px 0 0;	
}
#footer.type2 .right_box{
	margin-left:auto;
}
#footer.type2 .right_box ul li{
	display:inline-block;
	margin:0 2px;
	width:40px;
	height:40px;
}
#footer.type2 .right_box ul li.li1 a{
	background:url(../img/facebook_icon.png) no-repeat;
	background-size:cover;
	display:block;
	height:100%;
	text-indent:-99999px;
}
#footer.type2 .right_box ul li.li2 a{
	background:url(../img/in_icon.png) no-repeat;
	background-size:cover;
	display:block;
	height:100%;
	text-indent:-99999px;
}
#footer.type2 .right_box ul li.li3 a{
	background:url(../img/yt_icon.png) no-repeat;
	background-size:cover;
	display:block;
	height:100%;
	text-indent:-99999px;
}
#footer.type2 .right_box ul li.li4 a{
	background:url(../img/kakao_icon.png) no-repeat;
	background-size:cover;
	display:block;
	height:100%;
	text-indent:-99999px;
}
#footer.type2 .right_box div{
	color:#333;
	font-size:10px;
	margin-top:10px;
	font-weight:bold;
}











